<%# new.html.erb %>
<div class="row">
  <div class="col-md-8">
    <h1>Calculate software function points.</h1>
    <p>
    </p>
    <div id="signup-link-block">
      <%= link_to 'Sign up for Algieba Now!', new_user_url, class: 'btn btn-primary btn-lg' %>
    </div>
  </div>
  <div class="col-md-4 well">
    <%= render 'form' %>
  </div>
</div>

