<div class="row">
  <div class="col-md-12">
    <h1><%= current_user.email %>'s softwares.</h1>
    <div class="row">
      <div class="col-md-12">
        <% if @softwares.empty? %>
          <div class="alert alert-info">
            You have no softwares.
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div id="software-creation-link-block" class="col-md-12">
    <%= link_to new_software_url, class: 'btn btn-primary btn-lg' do %>
      <span class="glyphicon glyphicon-plus"></span> New software.
    <% end %>
  </div>
</div>
