<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="navbar-header">
    <%= link_to('Algieba', root_url, class: 'navbar-brand') %>
  </div>
  <% if current_user.present? %>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <%= link_to '#', id: 'menu-block', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do %>
            <span class="glyphicon glyphicon-user"></span>
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li>
              <%= link_to edit_user_url(current_user) do %>
                <span class="glyphicon glyphicon-cog"></span> profile
              <% end %>
            </li>
            <li>
              <%= link_to signout_url, id: 'signout-link', method: :delete do %>
                <span class="glyphicon glyphicon-off"></span> sign out
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
</nav>
