<div class="col-md-8 col-md-offset-2">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th class="text-center">UFP</th>
        <th class="text-center">VAF</th>
        <th class="text-center">FP</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="text-center"><%= @software.ufp.to_f %></td>
        <td class="text-center"><%= @software.vaf_score.to_f %></td>
        <td class="text-center"><%= @software.fp.to_f %></td>
      </tr>
    </tbody>
  </table>
</div>
